body
{
    background-color: #06283D;
}
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}
.container
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav {
  position: sticky;
  top: 0;
  z-index: 12;
}

.navbar {
  display: flex;
  align-items: center;
  height: 50px;
  
}

.logo {
  width: 70px;
  height: 70px;
  margin-right: auto;
  margin-top: 2vh;
  margin-left: 2vh;
  cursor: pointer;
}
.navbar a {
  padding-right: 10px;
  margin-left: 10px;
  font-size: 1.2em;
  text-decoration: none;
  color: #47B5FF;
  text-transform: capitalize;
}
.navbar a:hover {
  color: white;
  background-color: #06283D;
  transition: 0.5s;
}
.calculator
{
    background-color: #1F8A70;
   padding: 20px;
   border-radius: 10px;
}
.calculator form input
{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.8);
    background: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
}
form .display
{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    font-size: 45px;
    flex: 1;
    box-shadow: none;
}
form input.equal
{
    width: 145px;
}
form input.operator
{   font-weight: bolder;
    color: black;
}


#loading {
    width: 40px;
    height: 40px;
    border-bottom: 4px solid #1F8A70;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; 
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    25%{
      transform: rotate(90deg);
    }
    50%{
      transform: rotate(180deg);
    }
    75%{
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
